html{font-weight:400;text-transform:none;font-size:16px;letter-spacing:0em;line-height:18px;font-family:Montserrat, Arial, Helvetica, sans-serif;}.top-bar{color:rgb(255, 255, 255);font-weight:400;text-transform:none;font-size:14px;letter-spacing:0em;line-height:16px;font-family:Montserrat, Arial, Helvetica, sans-serif;}.astroid-footer, .astroid-footer-section, .jollyany-bottom-section{color:rgb(0, 0, 0);font-weight:400;text-transform:none;font-size:12px;letter-spacing:0em;line-height:14px;font-family:Montserrat, Arial, Helvetica, sans-serif;}.articleBody, #eb .eb-entry-article, .tpItemPage > #tz-portfolio-template-body{color:rgb(0, 0, 0);font-weight:400;text-transform:none;font-size:14px;letter-spacing:0px;line-height:16px;font-family:Montserrat, Arial, Helvetica, sans-serif;}.astroid-header-section, .astroid-sidebar-header{color:rgb(0, 0, 0);font-weight:400;text-transform:none;font-size:18px;letter-spacing:0px;line-height:20px;font-family:Montserrat, Arial, Helvetica, sans-serif;}button, [type="button"], [type="reset"], [type="submit"], .sppb-btn, .btn{color:rgb(0, 0, 0);font-weight:500;text-transform:none;font-size:12px;letter-spacing:0px;line-height:14px;font-family:Montserrat, Arial, Helvetica, sans-serif;}h1,h2,h3,h4,h5,h6{ color: rgb(34, 34, 34);}#astroid-sticky-header .header-offcanvas-trigger.burger-menu-button .inner, #astroid-sticky-header .header-offcanvas-trigger.burger-menu-button .inner::before, #astroid-sticky-header .header-offcanvas-trigger.burger-menu-button .inner::after {background-color:rgb(5, 45, 117);}#astroid-sticky-header a {color:rgb(5, 45, 117);}#astroid-sticky-header a:hover {color:rgb(5, 45, 117);}.tpp-bootstrap a{ color: rgb(62, 94, 153);}.tpp-bootstrap a:hover, a.uk-link-heading:hover, .uk-link-heading a:hover, .uk-link-toggle:hover .uk-link-heading, .uk-link-toggle:focus .uk-link-heading{ color: rgb(237, 31, 36);}.astroid-social-icons > li a{ color: rgb(244, 244, 244) !important;}.astroid-social-icons > li a:hover{ color: rgb(255, 255, 255) !important;}.jollyany-login-icon > i{ color: rgb(255, 255, 255) !important;}.jollyany-hikacart-icon > i{ color: rgb(255, 255, 255) !important;}.astroid-sidebar-menu .nav-item-submenu a.item-link-component {color:rgb(255, 255, 255);}.astroid-sidebar-menu .nav-item-submenu a.item-link-component:hover {color:rgb(255, 255, 255);}.astroid-sidebar-menu .nav-item-submenu a.item-link-component.active {color:rgb(237, 31, 36);}.astroid-sidebar-menu .navbar-subnav {background-color:rgb(5, 45, 117);}.jollyany-bottom-section a {color:rgb(255, 255, 255) !important;}.jollyany-bottom-section a:hover {color:rgb(230, 220, 220) !important;}.astroid-offcanvas {width: 320px;} .astroid-offcanvas .dropdown-menus {width: 320px !important;}.st-effect-2.astroid-offcanvas-open .astroid-content{-webkit-transform:translate3d(320px, 0, 0);transform:translate3d(320px, 0, 0);}.st-effect-2.astroid-offcanvas-open .st-effect-2.astroid-offcanvas{-webkit-transform:translate3d(0%, 0, 0);transform:translate3d(0%, 0, 0);}.astroid-offcanvas-opened .astroid-wrapper{background:rgb(173, 181, 189);}.st-effect-2.astroid-offcanvas{z-index:0 !important;}.st-effect-2.astroid-offcanvas-open .st-effect-2.astroid-offcanvas{visibility: visible; -webkit-transition:-webkit-transform 0.5s;transition:transform 0.5s;}.st-effect-2.astroid-offcanvas::after{display:none;}.offcanvasDirRight .st-effect-2.astroid-offcanvas-open .astroid-content{-webkit-transform:translate3d(-320px, 0, 0);transform:translate3d(-320px, 0, 0);}.mobilemenu-slide.astroid-mobilemenu{visibility:visible;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}.mobilemenu-slide.astroid-mobilemenu-open .mobilemenu-slide.astroid-mobilemenu {visibility:visible;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}.mobilemenu-slide.astroid-mobilemenu::after{display:none;}#ts-531555558345677{background-color:rgb(183, 154, 98);color:rgb(255, 255, 255);}#ts-531555558345677 a:hover{color:rgb(73, 80, 87);}#dms-961562138461935{background-color:rgb(35, 54, 84);}#hs-1529739480502{background-color:rgb(248, 249, 250);}#bs-1529739293881{background-color:rgb(15, 15, 15);background-image:url(https://utrackafrica.com/images/2021/04/15/classy-fabric.png);background-attachment:scroll;background-position:center center;color:rgb(255, 255, 255);}#bs-1529739293881 a{color:rgb(180, 180, 180);}#bs-1529739293881 a:hover{color:rgb(183, 154, 98);}#fs-1528971627712{background-color:rgb(0, 0, 0);background-image:url(https://utrackafrica.com/images/2021/04/15/classy-fabric.png);color:rgb(255, 255, 255);}#fs-1528971627712 a{color:rgb(142, 142, 142);}#fs-1528971627712 a:hover{color:rgb(183, 154, 98);}body, .body{font-weight:400;text-transform:none;font-size:16px;letter-spacing:0em;line-height:18px;font-family:Montserrat, Arial, Helvetica, sans-serif;}h1, .h1{font-weight:800;text-transform:none;font-size:24px;letter-spacing:0em;line-height:26px;font-family:Montserrat, Arial, Helvetica, sans-serif;}h2, .h2{font-weight:800;text-transform:none;font-size:22px;letter-spacing:0em;line-height:24px;font-family:Montserrat, Arial, Helvetica, sans-serif;}h3, .h3{font-weight:800;text-transform:none;font-size:20px;letter-spacing:0em;line-height:22px;font-family:Montserrat, Arial, Helvetica, sans-serif;}h4, .h4{font-weight:800;text-transform:none;font-size:0px;letter-spacing:0em;line-height:0px;font-family:Montserrat, Arial, Helvetica, sans-serif;}h5, .h5{font-weight:800;text-transform:none;font-size:0px;letter-spacing:0px;line-height:0px;font-family:Montserrat, Arial, Helvetica, sans-serif;}h6, .h6{font-weight:800;text-transform:none;font-size:0px;letter-spacing:0px;line-height:0px;font-family:Montserrat, Arial, Helvetica, sans-serif;}.astroid-nav > li > a, .astroid-sidebar-menu > li > a{font-weight:700;text-transform:uppercase;font-size:12px;letter-spacing:0em;line-height:20px;font-family:Montserrat, Arial, Helvetica, sans-serif;}.nav-submenu-container .nav-submenu > li, .jddrop-content .megamenu-item .megamenu-menu li, .nav-submenu{font-weight:400;text-transform:none;font-size:12px;letter-spacing:0em;line-height:22px;font-family:Montserrat, Arial, Helvetica, sans-serif;}body{background-color:rgb(255, 255, 255);color:rgb(104, 104, 104);}body a{color:rgb(62, 94, 153);}body a:hover{color:rgb(237, 31, 36);}header{color:rgb(37, 37, 37);}.astroid-logo-text .site-title{color:rgb(183, 154, 98);}.astroid-logo-text .site-tagline{color:rgb(44, 46, 54);}#astroid-sticky-header{background-color:rgb(255, 255, 255);}#astroid-sticky-header .astroid-nav .nav-link{color:rgb(5, 45, 117);}#astroid-sticky-header .astroid-nav .nav-link:hover{color:rgb(5, 45, 117);}#astroid-sticky-header .astroid-nav .nav-link:active, #astroid-sticky-header .astroid-nav .nav-link.active{color:rgb(5, 45, 117);}.astroid-nav .nav-link, .astroid-sidebar-menu .nav-link{color:rgb(255, 255, 255);}.astroid-nav .nav-link:hover, .astroid-sidebar-menu .nav-link:hover{color:rgb(231, 229, 229);}.astroid-nav .nav-link:focus, .astroid-sidebar-menu .nav-link:focus{color:rgb(231, 229, 229);}.astroid-nav .nav-link:active, .astroid-nav .nav-link.active, .astroid-sidebar-menu .nav-link:active, .astroid-sidebar-menu .nav-link.active{color:rgb(231, 229, 229);}.megamenu-container{background-color:rgb(5, 45, 117);}.megamenu-container .nav-submenu .nav-submenu{background-color:rgb(5, 45, 117);}.has-megamenu.open .arrow{border-bottom-color:rgb(5, 45, 117);}.megamenu-container li.nav-item-submenu > a{color:rgb(255, 255, 255);}.megamenu-container li.nav-item-submenu > a:hover{color:rgb(255, 255, 255);background-color:rgb(237, 31, 36);}.megamenu-container li.nav-item-submenu > a:active, .megamenu-container li.nav-item-submenu > a.active{color:rgb(255, 255, 255);background-color:rgb(237, 31, 36);}.astroid-offcanvas, .astroid-offcanvas .burger-menu-button, .astroid-offcanvas .astroid-mobilemenu-container .astroid-mobilemenu-inner .dropdown-menus{ background-color: rgb(255, 255, 255) !important;}.astroid-offcanvas { color: rgb(0, 0, 0) !important;}.astroid-offcanvas .astroid-mobilemenu-container .astroid-mobilemenu-inner .menu-item a, .astroid-offcanvas .menu-indicator{ color: rgb(0, 0, 0) !important;}.astroid-offcanvas .astroid-mobilemenu-container .astroid-mobilemenu-inner .menu-item.active > a, .astroid-offcanvas .astroid-mobilemenu-container .astroid-mobilemenu-inner .menu-item.active > .nav-header, .astroid-offcanvas .astroid-mobilemenu-container .astroid-mobilemenu-inner .menu-item.nav-item-active > a, .astroid-offcanvas .astroid-offcanvas .astroid-mobilemenu-container .astroid-mobilemenu-inner .menu-item.nav-item-active > a + .menu-indicator{ color: rgb(183, 154, 98) !important;}.astroid-offcanvas .astroid-mobilemenu-container .astroid-mobilemenu-inner .menu-item.active, .astroid-offcanvas .astroid-mobilemenu-container .astroid-mobilemenu-inner .menu-item.nav-item-active { background-color: rgb(255, 255, 255) !important;}.astroid-contact-info i[class*="fa-"]{color:rgb(255, 255, 255);}.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
}

.nav-link {
    display: block;
    padding: 0.5rem 0.6rem;
}

.astroid-social-icons > li {
    display: inline-block;
    margin: 0 5px;
}

#astroid-sticky-header {
    background-color: #f7f7f7;
}

.astroid-nav .nav-submenu .nav-title {
    padding-right: 0;
    color: #ffffff;
}

.astroid-header-section header.astroid-header:not(.astroid-header-sticky) {
    padding: 10px 0px 15px 0px;
    z-index: 1;
}

.divided-menu .center {
    position: absolute;
    z-index: 2000;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(5, 45, 117);
    background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(62,94,153,1) 0%, rgba(5,45,117,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(62,94,153,1) 0%, rgba(5,45,117,1) 100%);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(62,94,153,1) 0%, rgba(5,45,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#052d75",GradientType=1);
    padding: 5px 20px;
    border-radius: 3px;
    left: 0;
    right: 0;
    top: 0;
}

#ts-531555558345677 {
    background-color: #3e5e99;
    color: rgb(255, 255, 255);
}

.tracking-menu {
    z-index: 999999;
}

.dj-megamenu-default li a.dj-up_a {
    display: block;
    float: left;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 20px;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border-right: 1px solid #000;
    border-left: 1px solid #555;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.dj-megamenu-default li a.dj-up_a span {
    float: left;
    display: block;
    padding: 0 0 0 !important;
    height: 40px;
    line-height: 40px;
    background: transparent;
}

.dj-megamenu-default {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    height: auto;
    position: relative;
    z-index: 500;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    width: auto;
    background: #4a6ba7;
}

.top-bar .astroid-module-position > div + div {
    margin-left: 0px;
}

.moduletable {
    margin: 0 !important;
    padding: 0 !important;
}

.dj-megamenu-default li:hover a.dj-up_a, .dj-megamenu-default li.hover a.dj-up_a, .dj-megamenu-default li.active a.dj-up_a {
    color: #fff;
    border-left-color: #46a5df;
    background: #4a6ba7;
}

#ts-531555558345677 a:hover {
    color: #fff;
}

.dj-megamenu-default li:hover div.dj-subwrap, .dj-megamenu-default li.hover div.dj-subwrap {
    left: 0;
    top: 100%;
    background: #4a6ba7;
    height: auto;
    z-index: 300;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
}

.dj-megamenu-default li ul.dj-submenu>li>a:hover, .dj-megamenu-default li ul.dj-submenu>li>a.active, .dj-megamenu-default li ul.dj-submenu>li.hover:not(.subtree)>a {
    background: rgb(237, 31, 36);
    color: #fff;
}

.dj-megamenu-default li ul.dj-submenu>li {
    list-style: none outside;
    display: block;
    height: auto;
    position: relative;
    width: auto;
    border-top: 1px solid #3e5e99;
}

.dj-megamenu-default li ul.dj-submenu>li>a {
    display: block;
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    color: #ffffff;
    background: transparent;
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 -10px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.main-heading h1.sppb-title-heading:after, .main-heading h2.sppb-title-heading:after, .main-heading h3.sppb-title-heading:after, .main-heading h4.sppb-title-heading:after, .main-heading h5.sppb-title-heading:after, .main-heading h6.sppb-title-heading:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: url(../assets/utrack-title-line-image.png) left bottom no-repeat;
}

.main-heading > h1.sppb-addon-title:after, .main-heading > h2.sppb-addon-title:after, .main-heading > h3.sppb-addon-title:after, .main-heading > h4.sppb-addon-title:after, .main-heading > h5.sppb-addon-title:after, .main-heading > h6.sppb-addon-title:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: url(../assets/utrack-title-line-image.png) left bottom no-repeat;
}

.jollyany-bottom-section .sppb-addon-optin-forms .sppb-form-control {
    color: inherit;
    background-color: #f6f6f6;
    border: 1px solid #343436;
}

#sppb-addon-1555656501723 .sppb-gallery img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

body, .body {
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 25px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.jollyany-bottom-section h1.sppb-addon-title:after, .jollyany-bottom-section h2.sppb-addon-title:after, .jollyany-bottom-section h3.sppb-addon-title:after, .jollyany-bottom-section h4.sppb-addon-title:after, .jollyany-bottom-section h5.sppb-addon-title:after, .jollyany-bottom-section h6.sppb-addon-title:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: url(https://utrackafrica.com/v2/images/2021/08/28/utrack-title-line-white-image.png) left bottom no-repeat;
}

.jollyany-bottom-section .menu-module > li > a::before {
    content: "ï”";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 10px;
    line-height: 24px;
    color: rgb(181, 181, 181);
}

.astroid-footer, .astroid-footer-section, .jollyany-bottom-section {
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0em;
    line-height: 14px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.astroid-social-icons {
    list-style: none;
    margin: 0;
}

.astroid-mobilemenu-container .astroid-mobilemenu-inner .menu-item .menu-indicator {
    width: 60px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #ddd !important;
    cursor: pointer;
}

#ts-451555907311432 {
    background-image: url(https://utrackafrica.com/v2/images/tz_lawyer/background/about-utrack-africa-company.svg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    color: rgb(255, 255, 255);
}

.sppb-addon-articles .sppb-article-info-wrap {
    padding: 1.3rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.sppb-carousel-inner>.sppb-item>a>img, .sppb-carousel-inner>.sppb-item>img, .sppb-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}@media (max-width: 991.98px) {html{font-size:16px;letter-spacing:0em;line-height:1.7em;}.top-bar{font-size:14px;letter-spacing:0em;line-height:1em;}.astroid-footer, .astroid-footer-section, .jollyany-bottom-section{font-size:0em;letter-spacing:0em;line-height:0em;}.articleBody, #eb .eb-entry-article, .tpItemPage > #tz-portfolio-template-body{font-size:18em;letter-spacing:1em;line-height:1em;}.astroid-header-section, .astroid-sidebar-header{font-size:18em;letter-spacing:1em;line-height:1em;}button, [type="button"], [type="reset"], [type="submit"], .sppb-btn, .btn{font-size:0.7em;letter-spacing:1em;line-height:1em;}body, .body{font-size:16px;letter-spacing:0em;line-height:1.7em;}h1, .h1{font-size:3.5em;letter-spacing:0em;line-height:1.2em;}h2, .h2{font-size:2em;letter-spacing:0em;line-height:1.2em;}h3, .h3{font-size:0em;letter-spacing:0em;line-height:0em;}h4, .h4{font-size:0em;letter-spacing:0em;line-height:0em;}h5, .h5{font-size:0em;letter-spacing:0em;line-height:0em;}h6, .h6{font-size:0em;letter-spacing:0em;line-height:0em;}.astroid-nav > li > a, .astroid-sidebar-menu > li > a{font-size:16px;letter-spacing:0em;line-height:1.7em;}.nav-submenu-container .nav-submenu > li, .jddrop-content .megamenu-item .megamenu-menu li, .nav-submenu{font-size:14px;letter-spacing:0em;line-height:2em;}}@media (max-width: 767.98px) {html{font-size:16px;letter-spacing:0em;line-height:1.7em;}.top-bar{font-size:14px;letter-spacing:0em;line-height:1em;}.astroid-footer, .astroid-footer-section, .jollyany-bottom-section{font-size:0em;letter-spacing:0em;line-height:0em;}.articleBody, #eb .eb-entry-article, .tpItemPage > #tz-portfolio-template-body{font-size:18em;letter-spacing:1em;line-height:1em;}.astroid-header-section, .astroid-sidebar-header{font-size:18em;letter-spacing:1em;line-height:1em;}button, [type="button"], [type="reset"], [type="submit"], .sppb-btn, .btn{font-size:0.7em;letter-spacing:1em;line-height:1em;}body, .body{font-size:16px;letter-spacing:0em;line-height:1.7em;}h1, .h1{font-size:3.5em;letter-spacing:0em;line-height:1.2em;}h2, .h2{font-size:2em;letter-spacing:0em;line-height:1.2em;}h3, .h3{font-size:0em;letter-spacing:0em;line-height:0em;}h4, .h4{font-size:0em;letter-spacing:0em;line-height:0em;}h5, .h5{font-size:0em;letter-spacing:0em;line-height:0em;}h6, .h6{font-size:0em;letter-spacing:0em;line-height:0em;}.astroid-nav > li > a, .astroid-sidebar-menu > li > a{font-size:16px;letter-spacing:0em;line-height:1.7em;}.nav-submenu-container .nav-submenu > li, .jddrop-content .megamenu-item .megamenu-menu li, .nav-submenu{font-size:14px;letter-spacing:0em;line-height:2em;}}