<!--
<!doctype html>
<html lang="en" class="no-js" itemscope="" itemtype="http://schema.org/WebSite"><head>
    <title>GPS Tracking</title>

    <base href="">
    <meta charset="utf-8">
    <meta property="og:image" itemprop="image" content="images/teralogoOp2.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="app-version" content="3.6.8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GPS Tracking System for Personal Use or Business">
    <link rel="shortcut icon" href="images/teralogoOp2.png" type="image/png"> &lt;!&ndash;title icon&ndash;&gt;
    <link rel="stylesheet" href="css/light-blue.css?t=1647846383">
    <style>
                body.sign-in-layout { background-color: #ffffff; }


                body.sign-in-layout { background-image: url(images/loginbg.png ); }

               &lt;!&ndash; body.sign-in-layout .panel-background { background: #ffffff; }&ndash;&gt;

                        body.sign-in-layout .panel-background { opacity: 1; }
            </style>
</head>

&lt;!&ndash;[if IE 8 ]> <![endif]&ndash;&gt;
&lt;!&ndash;[if IE 9 ]> <body class="ie9 sign-in-layout"> <![endif]&ndash;&gt;
&lt;!&ndash;[if (gt IE 9)|!(IE)]>&lt;!&ndash;dash;&gt;<body class="sign-in-layout">&lt;!&ndash;<![endif]&ndash;&gt;

<div class="center-vertical">
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

            <div class="panel">
                <div class="panel-background"></div>
                <div class="panel-body">

                    <a href="">
                        <img class="img-responsive center-block" src="images/teralogoOp2.png" alt="Logo">
                    </a>

                    <hr>


                    <form method="POST" action="/login" accept-charset="UTF-8" class="form">&lt;!&ndash;<input name="_token" type="hidden" value="pOUtHtsd02dxcVtawcupgi0XmYu1H5hIEFiKSCcJ">&ndash;&gt;
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" id="sign-in-form-email" name="email" type="email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" id="sign-in-form-password" name="password" type="password" value="">
                        </div>

                        &lt;!&ndash; <div class="form-group">
                             <div class="checkbox">
                                 <input checked="checked" name="remember_me" type="checkbox" value="1">
                                 <label>Remember me</label>
                             </div>
                         </div>&ndash;&gt;

                        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Sign in</button>

                        <hr>

                        <div class="form-group">
                            <div class="row">

                                <div class="col-sm-12">
                                    <a href="/registration/create" class="btn btn-block btn-lg btn-default">You Have NO account Yet ?</a>
                                </div>
                                <div class="col-sm-12">
                                    <a href="/" class="btn btn-block btn-lg btn-default">Home Site !</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>


</body></html>-->


<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebSite">
<head>
    <title>Tera-Track</title>

    <base href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="app-version" content="3.6.8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GPS Tracking ">
    <link rel="shortcut icon" href="images/teralogoOp2.png" type="image/x-icon">
    <link rel="stylesheet" href="https://login.teratrack.com/assets/css/light-blue.css?t=1647846383">


    <style>
                body.sign-in-layout { background-color: #ffffff; }


                body.sign-in-layout { background-image: url('../images/africa.png'); }

                body.sign-in-layout .panel-background { background: #ffffff; }

                        body.sign-in-layout .panel-background { opacity: 1; }
            </style>
</head>

<!--[if IE 8 ]><body class="ie8 sign-in-layout"> <![endif]-->
<!--[if IE 9 ]> <body class="ie9 sign-in-layout"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><body class="sign-in-layout"><!--<![endif]-->

<div class="center-vertical">
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

            <div class="panel">
                <div class="panel-background"></div>
                <div class="panel-body">

                    <a href="/login">
                        <img class="img-responsive center-block" src="images/teralogoOp2.png" alt="Logo">
                    </a>

                    <hr>



                    <form method="POST" action="/login" accept-charset="UTF-8" class="form"><input name="_token" type="hidden" value="SjinIVD4L6O37guY7pcXIA0pvNSiP9kCz0kzB18P">
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" id="sign-in-form-email" name="email" type="email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" id="sign-in-form-password" name="password" type="password" value="">
                        </div>

                       <!-- <div class="form-group">
                            <div class="checkbox">
                                <input checked="checked" name="remember_me" type="checkbox" value="1">
                                <label>Remember me</label>
                            </div>
                        </div>-->

                        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">SIGN IN</button>
                        <br>
                        <a href="/" class="btn btn-block btn-lg btn-default">BACK TO HOME SITE.</a>
                    </form>

                    <div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>